.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: gray;

  .logo{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .text{
    font-size: 12px;
  }
  @media only screen and (max-width: 768px){
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
